#top-bar {
    -fx-background-color: rgb(30, 50, 80);
    -fx-padding: 0 10 0 0
}

#bottom-bar {
    -fx-background-color: rgb(30, 50, 80);
    -fx-padding: 0 10 0 0
}

#temp-readout {
    -fx-font-size: 20px;
    -fx-fill: white;
}

#left-bar {
    -fx-background-color: rgb(65, 80, 100);
    -fx-padding: 10 10 10 10
}

.vform-label {
    -fx-text-fill: white;
    -fx-padding: 5 0 5 0;
}

.vform-spacer-large {
    -fx-padding: 15 0 0 0
}

.vform-spacer-medium {
    -fx-padding: 5 0 0 0
}

.vform-submit {
}